#subContainer {
 .sidebar-container{
   width: 180px;
 }
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }
  .el-menu-item.is-active {
    position: relative;
    color: #fff !important;
    background-color: $menuHover !important;
    border-left:  solid;
    outline: 0 none;
    .icon-default {
      width: 4px;
      height: 12px;
      background-color: #fff;
      border-radius: 15px;
    }
  }
  .el-menu-item.is-active:after{
    position: absolute;
    top: 50%;
    left: 12px;
    content: '';
    display: block;
    width: 174px;
    height: 34px;
    margin-top: -17px;
    border-radius: 8px;
  }

  // .el-submenu__title i {
  //   color: #fff;
  //   font-weight: 400px;
  // }

//   .el-submenu .el-menu-item {
//     font-size:12px;
//     height: 42px;
//     line-height: 42px;
//     font-weight: 500;
//     padding: 0 45px;
//     min-width: 180px;
// }


.el-menu-item {
  font-size:12px;
  height: 42px;
  font-weight: 500;
  line-height: 42px;
  // padding: 0 45px;
  padding-left: 16px !important;
}

.el-submenu__title {
  font-size:12px;
  height: 42px;
  font-weight: 500;
  line-height: 42px;
  padding: 0 45px;
  min-width: 180px;
}

  .el-menu-item>a:before {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
}

  .sidebar-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: relative;
    font-size: 11px;
    display:block;
    // top: 0;
    // bottom: 0;
    // left: 0;
    z-index: 1;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
      background-color: rgb(245, 247, 249);
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 90px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      // overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      // list-style:none;
      border-right: 1px solid #e6e6e6;
      position: relative;
      margin: 0;
      padding-left: 0;
      background-color: #fff;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        color: $menuActiveText !important;
        background-color: #fff !important;
      }
    }

    .is-active:hover {
      color: #fff !important;
      background-color: $menuHover !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      // background-color: $subMenuBg !important;
      &:hover {
        // background-color: $subMenuHover !important;
        color: $menuActiveText !important;
        background-color: #fff !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 45px !important;
    }

    .main-container {
      margin-left: 45px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      // position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 16px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 16px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    background-color: $subMenuBg  !important;
    font-size:12px;
    height: 42px;
    font-weight: 500;
    line-height: 42px;
    padding: 0 45px;
    &:hover {
      // you can use $subMenuHover
      color: $menuActiveText !important;
      background-color: #fff !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
